body
{
	width: 200px;
	text-align: left;	
	font-family: Arial;
}

h1 {
	font-size: 1rem;
	display: block;
}

/*
* New tab form formatting
*/

label, p {
	display: inline-block;
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-bottom: 3px;
}

#new-tab-form {
	display: flex;
	flex-wrap: wrap;
}

#new-tab-form input[type=text]
{
	width: 70%;
	flex-grow: 2;
	border-right: none;
	margin: 0px;
}

input[type=text], input[type=search] {
	font-size: 0.7rem;
	width: 100%;
	padding: 3px;
	border: solid thin grey;
	box-sizing: border-box;
	margin: 0px;
	margin-bottom: 10px;
}

input[type=submit] {
	font-size: 0.8rem;
	margin: 0;
	padding: 3px;
	box-sizing: border-box;
	background: none;
	border: solid thin grey;
	font-weight: bold;
}

input[type=submit]:hover {
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	clear: both;
	display: inline;
	margin-bottom: 4px;
}

/*
* Tab list formatting
*/

#filter {
	display: none;
}

.tab-header {
	display: flex;
	align-items: top;
}

a {
	text-decoration: none;
	display: inline;
	color: gray;
}

a.tab-link {
	color: #0266C8;
	width: 100%;
}

a.tab-link:hover {
	text-decoration: underline;
}

a.button {
	vertical-align: center;
	display: inline;
	font-size: 0.8rem;
	position: relative;
	padding: 0px 5px;
}

a.button.edit:hover {
	color: #0266C8;
	cursor: pointer;
}

a.button.close {
	display: block;
}

a.button.close:hover {
	color: red;
	cursor: pointer;
}

hr {
	clear: both;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#edit-form {
	margin-top: 5px;
}